In [26]:
import warnings
warnings.filterwarnings('ignore')

Above we have imported a warnings library. You don't have to worry too much about this cell! Just go ahead and run it to proceed with the morning warm up!

##### How will you read the following data into a pandas data frame ?

In [27]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [28]:
import pandas as pd
df = pd.read_csv(url, header=None)

In [29]:
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
0    150 non-null float64
1    150 non-null float64
2    150 non-null float64
3    150 non-null float64
4    150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

##### How would you pick columns 0,1,3 ?

In [31]:
df.iloc[:, [0,1,3]].head()

     0    1    3
0  5.1  3.5  0.2
1  4.9  3.0  0.2
2  4.7  3.2  0.2
3  4.6  3.1  0.2
4  5.0  3.6  0.2

##### Use a for loop to find all rows where column 3 entries have values greater than 2 and replace them with NaN values 
##### Hint: Use NumPy

In [32]:
import numpy as np

for i in df.index:
    if df.iloc[i,3] > 2:
        df.iloc[i,3] = np.nan

df.head(5)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
0    150 non-null float64
1    150 non-null float64
2    150 non-null float64
3    127 non-null float64
4    150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [11]:
df.index

RangeIndex(start=0, stop=150, step=1)

##### Change names of columns to A, B, and C

In [33]:
df.rename(columns = {0: 'A', 1: 'B', 2: 'C', 3: 'D'}, inplace = True)
df.head()

     A    B    C    D            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

##### Add a column 'Day' and start a count of number from 1-100 for all entries

In [53]:
df['Day'] = np.arange(1, 151, 1)
df.head()

     A    B    C    D            4  Day
0  5.1  3.5  1.4  0.2  Iris-setosa    1
1  4.9  3.0  1.4  0.2  Iris-setosa    2
2  4.7  3.2  1.3  0.2  Iris-setosa    3
3  4.6  3.1  1.5  0.2  Iris-setosa    4
4  5.0  3.6  1.4  0.2  Iris-setosa    5

Now use a Pandas Groupby function to group by the 'Day' column and find the mean of each row

In [54]:
grouped = df.groupby('Day')

In [56]:
grouped.aggregate('mean', axis = 1)

UnsupportedFunctionCall: numpy operations are not valid with groupby. Use .groupby(...).mean() instead

##### Drop the 'Day' column

In [51]:
df.drop('Day', inplace = True, axis = 1)
df.head(2)

     A    B    C    D            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa