# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

### (From end of last week's lesson) Boolean Subsetting

In [13]:
import pandas as pd
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante', 'Samantha'],
    'age': ['35', '17', '26', '21'],
    'city': ['Houston', 'Seattle', 'New york', 'Atlanta'],
    'state': ['Texas', 'Washington', 'New York', 'Georgia']
}

students_df = pd.DataFrame(student_dict)
students_df.head()

       name age      city       state
0  Samantha  35   Houston       Texas
1      Alex  17   Seattle  Washington
2     Dante  26  New york    New York
3  Samantha  21   Atlanta     Georgia

In [3]:
# The statement data[‘name’] == ‘Samantha’] produces a Pandas Series with a True/False value for every row
# in the ‘data’ DataFrame, where there are “True” values for the rows where the name is “Samantha”.
# These type of boolean arrays can be passed directly to the .loc indexer.
students_df.loc[students_df['name'] == 'Samantha']

       name age     city    state
0  Samantha  35  Houston    Texas
3  Samantha  21  Atlanta  Georgia

In [4]:
# What about if we only want the city and state of the selected students with the name Samantha?
students_df.loc[students_df['name'] == 'Samantha', ['city', 'state']]

      city    state
0  Houston    Texas
3  Atlanta  Georgia

In [5]:
# What amount if we want to select a student of a specific age?
students_df.loc[students_df['age'] == '21']

       name age     city    state
3  Samantha  21  Atlanta  Georgia

In [15]:
# What amount if we want to select a student of a specific age?
students_df.loc[((students_df['age'] == '21') &
                (students_df['city'] == 'Atlanta'))]

       name age     city    state
3  Samantha  21  Atlanta  Georgia

In [ ]:
# What should be returned?
students_df.loc[(students_df['age'] == '35') &
                (students_df['city'] == 'Atlanta')]

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [16]:
!pwd
!ls -lath

/Users/flatironschool/fis/dc-ds-08-26-19/module-1/week-2/day-1-pandas-2
total 104
drwxr-xr-x  8 flatironschool  staff   256B Sep  3 09:58 .
-rw-r--r--  1 flatironschool  staff    27K Sep  3 09:58 pandas-2-manipulation.ipynb
drwxr-xr-x  3 flatironschool  staff    96B Sep  3 09:50 .ipynb_checkpoints
-rw-r--r--  1 flatironschool  staff   3.2K Sep  3 09:45 pre_process_animal_shelter_data.py
-rw-r--r--  1 flatironschool  staff    17K Sep  3 09:45 manipulating_data_with_pandas.ipynb
drwxr-xr-x  4 flatironschool  staff   128B Sep  3 09:45 images
drwxr-xr-x  5 flatironschool  staff   160B Sep  3 09:45 data
drwxr-xr-x  3 flatironschool  staff    96B Sep  3 09:45 ..

In [17]:
import pandas as pd
import numpy as np

uci = pd.read_csv('data/heart.csv')


age - age in years

sex - (1 = male; 0 = female)

cp - chest pain type

trestbps - resting blood pressure (in mm Hg on admission to the hospital)

chol - serum cholestoral in mg/dl

fbs - (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false)

restecg - resting electrocardiographic results

thalach - maximum heart rate achieved

exang - exercise induced angina (1 = yes; 0 = no)

oldpeak - ST depression induced by exercise relative to rest

slope - the slope of the peak exercise ST segment

ca - number of major vessels (0-3) colored by flourosopy

thal - 3 = normal; 6 = fixed defect; 7 = reversable defect

target - 1 or 0

In [19]:
uci.shape

(303, 14)

In [20]:
uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [18]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [24]:
import numpy as np
np.nan

nan

In [26]:
None == None

True

In [27]:
np.nan == np.nan

False

In [28]:
id(np.nan) == id(np.nan)

True

In [31]:
uci_new = uci.copy()
uci_new['B'] = 'B'
uci_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
B           303 non-null object
dtypes: float64(1), int64(13), object(1)
memory usage: 35.6+ KB

#### The `.columns` and `.shape` Attributes

In [ ]:
uci.columns

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [ ]:
# Call the .info() method on our dataset. What do you observe?

In [ ]:
uci_new = uci.copy()
uci_new['str_col'] = 'B'

In [ ]:
uci_new.head()

In [ ]:
# Call the .describe() method on our dataset. What do you observe?

In [ ]:
# Use the code below. How does the output differ from info() ?
uci_new.dtypes

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

Also check out `.count()` and  `.isna()`.

In [32]:
uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [33]:
uci.age.mean()

54.366336633663366

In [35]:
pd.isna(uci.ca).all()

False

In [34]:
pd.isna(uci.ca).any()

False

#### The Axis Variable

In [41]:
uci.mean(axis=1)  # Try [shift] + [tab] here!

0      42.878571
1      43.892857
2      39.600000
3      42.771429
4      50.114286
5      38.742857
6      46.378571
7      43.500000
8      42.607143
9      39.971429
10     42.942857
11     42.871429
12     44.614286
13     38.557143
14     47.357143
15     39.685714
16     49.857143
17     40.400000
18     44.250000
19     43.700000
20     42.607143
21     42.600000
22     42.357143
23     43.000000
24     40.742857
25     50.314286
26     42.114286
27     33.471429
28     56.342857
29     38.585714
         ...
273    39.721429
274    39.785714
275    40.500000
276    38.285714
277    42.235714
278    48.071429
279    35.685714
280    44.628571
281    39.000000
282    39.085714
283    43.071429
284    39.707143
285    44.842857
286    40.771429
287    43.857143
288    46.857143
289    37.714286
290    41.500000
291    45.814286
292    43.414286
293    42.057143
294    34.557143
295    39.071429
296    37.500000
297    35.428571
298    40.514286
299    40.085714
300    39.885714
301    31.585714
302    43.000000
Length: 303, dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [ ]:
uci.age.value_counts()

Exercise: What are the different values for `restecg`?

In [38]:
print(uci.restecg.unique())
uci.restecg.value_counts()

[0 1 2]

1    152
0    147
2      4
Name: restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [53]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [54]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107099 entries, 0 to 107098
Data columns (total 12 columns):
Animal ID           107099 non-null object
Name                73433 non-null object
DateTime            107099 non-null object
MonthYear           107099 non-null object
Date of Birth       107099 non-null object
Outcome Type        107092 non-null object
Outcome Subtype     48798 non-null object
Animal Type         107099 non-null object
Sex upon Outcome    107095 non-null object
Age upon Outcome    107080 non-null object
Breed               107099 non-null object
Color               107099 non-null object
dtypes: object(12)
memory usage: 9.8+ MB

In [55]:
animal_outcomes.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [56]:
# What are the breed value_counts?
animal_outcomes.Breed.value_counts()

Domestic Shorthair Mix                     30156
Pit Bull Mix                                8026
Labrador Retriever Mix                      6264
Chihuahua Shorthair Mix                     6013
Domestic Medium Hair Mix                    3025
German Shepherd Mix                         2716
Domestic Shorthair                          2551
Bat Mix                                     1741
Domestic Longhair Mix                       1492
Australian Cattle Dog Mix                   1366
Siamese Mix                                 1218
Bat                                         1027
Dachshund Mix                                977
Boxer Mix                                    893
Border Collie Mix                            867
Miniature Poodle Mix                         802
Catahoula Mix                                620
Siberian Husky Mix                           619
Australian Shepherd Mix                      611
Staffordshire Mix                            607
Rat Terrier Mix                              601
Yorkshire Terrier Mix                        587
Raccoon Mix                                  535
Miniature Schnauzer Mix                      527
Great Pyrenees Mix                           522
Beagle Mix                                   522
Jack Russell Terrier Mix                     522
Labrador Retriever                           515
Pit Bull                                     507
Chihuahua Longhair Mix                       478
                                           ...
Schnauzer Giant/Labrador Retriever             1
West Highland/Chihuahua Shorthair              1
Shih Tzu/Australian Shepherd                   1
Australian Cattle Dog/American Foxhound        1
Domestic Longhair/Domestic Longhair            1
Cavalier Span/Border Collie                    1
Rat Terrier/English Pointer                    1
Maltese/Border Collie                          1
Cairn Terrier/Border Terrier                   1
Dachshund/Wire Hair Fox Terrier                1
Pointer/Brittany                               1
Doberman Pinsch/Vizsla                         1
Whippet/Borzoi                                 1
Boxer/Australian Kelpie                        1
Finnish Spitz/German Shepherd                  1
English Coonhound/German Shepherd              1
Blue Lacy/Staffordshire                        1
Miniature Poodle/West Highland                 1
Rhod Ridgeback/Australian Cattle Dog           1
Dachshund Longhair/Miniature Poodle            1
Border Collie/Dalmatian                        1
Shiba Inu/Siberian Husky                       1
Rat Terrier/Pit Bull                           1
Australian Shepherd/English Setter             1
Canaan Dog/Pit Bull                            1
Skye Terrier/Miniature Poodle                  1
Pointer/Basset Hound                           1
Bull Terrier/Jack Russell Terrier              1
Great Pyrenees/Dalmatian                       1
Italian Greyhound/Cavalier Span                1
Name: Breed, Length: 2461, dtype: int64

In [59]:
# What's the top breed for adopted dogs?
animal_outcomes.loc[(animal_outcomes['Animal Type'] == 'Dog') & 
                    (animal_outcomes['Outcome Type'] == 'Adoption')].Breed.value_counts().head(10)

Labrador Retriever Mix       3181
Pit Bull Mix                 3119
Chihuahua Shorthair Mix      2879
German Shepherd Mix          1372
Australian Cattle Dog Mix     768
Dachshund Mix                 479
Border Collie Mix             467
Boxer Mix                     417
Catahoula Mix                 337
Staffordshire Mix             329
Name: Breed, dtype: int64

In [45]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [47]:
animal_outcomes['Outcome Type'].unique()

array(['Euthanasia', 'Adoption', 'Return to Owner', 'Transfer',
       'Rto-Adopt', 'Died', 'Disposal', 'Missing', nan, 'Relocate'],
      dtype=object)

In [ ]:
# How about outcome counts for dogs?

In [63]:
animal_outcomes.loc[animal_outcomes['Animal Type'] == 'Dog'].Breed.value_counts().head(10)

Pit Bull Mix                 8026
Labrador Retriever Mix       6264
Chihuahua Shorthair Mix      6013
German Shepherd Mix          2716
Australian Cattle Dog Mix    1366
Dachshund Mix                 977
Boxer Mix                     893
Border Collie Mix             867
Miniature Poodle Mix          802
Catahoula Mix                 620
Name: Breed, dtype: int64

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [ ]:
def successor(x):
    return x + 1

In [ ]:
uci.applymap(successor).head()

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [ ]:
uci['age'].map(successor).tail(10)

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci['oldpeak'].map(lambda x: round(x))[:4]

Exercise: Use an anonymous function to turn the entries in age to strings

In [ ]:
# Your code here

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [ ]:
# Your code here

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0)  # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [ ]:
# Your code here

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values='sex', columns='target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on='age',
          lsuffix='_A',
          rsuffix='_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)

In [ ]:
states = pd.read_csv('data/states.csv', index_col=0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states], sort=False)

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here